@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-1 {
    display: inline-block;
    padding: 15px 25px;
    background-color: #45B69C;
    font-size: 17px;
    color: #D8DDEF;
    border-radius: 15px;
    text-transform: capitalize;
    box-shadow: 0 0 15px #333;
}

.btn-1:hover {
    background-color: #45B6AA;
}
