.header {
    display: flex;
    align-items: center;
    height: 70vh;
    min-height: 700px;
}

.menu {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    font-size: 25px;
    color: #D8DDEF;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 16px; /* Reducir tamaño de fuente */
    color: #FFFFFF; /* Texto blanco */
    padding: 15px 10px; /* Reducir padding */
    margin: 0 5px; /* Reducir margen */
    display: block;
    text-transform: uppercase;
    text-shadow: 3px 3px 10px #333;
    transition-property: text-shadow, font-size;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    font-weight: 600;
    border: 2px solid #444;
    border-radius: 5px;
}

.menu .navbar ul li a:hover {
    color: #FFD700; /* Amarillo para el hover */
}

/* Estilos para el submenú desplegable */
.menu .navbar ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2c3e50; /* Fondo oscuro */
    border-radius: 0 0 5px 5px;
    padding: 0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
}

.menu .navbar ul li:hover > ul {
    display: block;
}

.menu .navbar ul li ul li {
    float: none;
    width: 200px; /* Ancho del desplegable */
}

.menu .navbar ul li ul li a {
    padding: 12px 15px;
    font-size: 15px;
    border: none;
    text-align: left;
}

.menu .navbar ul li ul li a:hover {
    background-color: #34495e; /* Color de fondo para el hover */
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 300px;
    display: flex;
    padding: 50px 60px;
    background-color: #7293A0;
    border-radius: 25px;
}

.header-txt {
    width: 65%;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    color: #D8DDEF;
    text-transform: capitalize;
    font-weight: 800;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 17px;
    color: #000;
    margin-bottom: 35px;
}

.header-img {
    width: 50%;
    text-align: right;
}


.header-img img {
    margin-top: 55px;
    width: 400px;
}
