.general {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 40px;
}

.general-tittle {
    font-size: 36px;
    color: #222;
    text-align: center;
    font-weight: bold;
}

.general-1 {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.general-card {
    width: 300px;
    padding: 0;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 15px #272D2D;
    background-color: #fff;
    transition: transform 0.3s;
    overflow: hidden; /* Para contener las esquinas de la imagen */
}

.general-card:hover {
    transform: translateY(-10px);
}

.general-card .presentation-img {
    width: 100%;
    height: auto; /* Altura automática para evitar recortes */
    display: block; /* Asegura un comportamiento de bloque correcto */
}

.general-card .default-icon {
    width: 90px;
    height: 90px;
    margin: 20px 0;
}


.general-card h3 {
    font-size: 18px;
    color: #333;
    padding: 20px 10px;
    margin: 0;
}

.general-card p {
    font-size: 14px;
    color: #666;
}
